	.headersection {
   			 background: #ca932f none repeat scroll 0 0;
						}
			.icon a {
             background: #a56e0a none repeat scroll 0 0;
					}
			.searchbtn input[type="text"] {
    				background: #FFE07C;
						}
			.navsection {
    			background: none repeat scroll 0 0 #e6af4b;
    			
						}
			.samepost h2 a {
    			color: #ac7511;
					}
			.maincontent {
   				 background: #FEF4E5 none repeat scroll 0 0;
					}
					.	.sidebar {
   			 background: #fef4e5 none repeat scroll 0 0;
			}
	.samesidebar h2 {
    	background: #e2a535 none repeat scroll 0 0;
    	border-bottom: 2px solid #b7801c;
    	color: #333;
    			        }
    .footersection {
    height: 90px;
    background: #EBB450;
    text-align: center;
		}